   body {
       font-family: "Century Gothic", "Lato", sans-serif;
   }

   a {
       text-decoration: none;
   }

   /* NAV BAR */
   .et-header {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       padding: 0 2em;
       height: 75px;
       z-index: 2;
       transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   }

   .et-header--scrolled {
       background: #fff;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   }

   .et-header--move-up {
       transform: translateY(-75px);
       transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   }

   .et-header__logo {
       color: #000;
       font-family: "Lucida Fax";
       font-size: 24px;

       /* -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       -moz-background-clip: text;
       -moz-text-fill-color: transparent;
       -ms-background-clip: text;
       -ms-text-fill-color: transparent;
       background-clip: text;
       text-fill-color: transparent;
       background-image: linear-gradient(45deg,
               #000f45,
               #050d29,
               #121624,
               #15161b,
               #000000);
       animation: .8s shake infinite alternate; */
   }

   .et-footer__logo {
       color: #000;
       font-family: "Lucida Fax";
       font-size: 24px;
   }


   .et-header__link {
       margin-left: 1em;
       color: #000;
   }

   .et-hero-tabs,
   .et-slide {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;
       position: relative;
       background: #eee;
       text-align: center;
       padding: 0 2em;
   }

   .et-slide-about {
       height: fit-content;
   }

   .et-slide-resume {
       height: fit-content;
   }

   .et-slide-portfolio {
       height: fit-content;
   }

   .et-slide-references {
       height: 100vh;
   }

   .et-slide-contact {
       height: 100vh;
   }

   .et-hero-tabs h1,
   .et-slide h1 {
       font-size: 2rem;
       margin: 0;
       letter-spacing: 1rem;
   }

   .et-hero-tabs h2,
   .et-slide h2 {
       font-size: 1.3rem;
       margin: 0;
       letter-spacing: 0.7rem;
   }

   .et-hero-tabs h3,
   .et-slide h3 {
       font-size: 1rem;
       letter-spacing: 0.3rem;
       opacity: 0.7;
   }

   .et-hero-tabs-container {
       display: flex;
       flex-direction: row;
       position: absolute;
       bottom: 0;
       width: 100%;
       height: 75px;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
       background: #fff;
       z-index: 1;
       transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   }

   .et-hero-tabs-container--top-first {
       position: fixed;
       top: 75px;
       transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   }

   .et-hero-tabs-container--top-second {
       position: fixed;
       top: 0;
   }

   .et-hero-tab {
       display: flex;
       justify-content: center;
       align-items: center;
       flex: 1;
       color: #000;
       letter-spacing: 0.1rem;
       transition: all 0.5s ease;
       font-size: 0.8rem;
   }

   .et-hero-tab:hover {
       color: white;
       background: rgba(102, 177, 241, 0.8);
       transition: all 0.5s ease;
   }

   .et-hero-tab-slider {
       position: absolute;
       bottom: 0;
       width: 0;
       height: 6px;
       background: #66b1f1;
       transition: left 0.3s ease;
   }

   @media (min-width: 800px) {

       .et-hero-tabs h1,
       .et-slide h1 {
           font-size: 3rem;
       }

       .et-hero-tabs h2,
       .et-slide h2 {
           font-size: 2rem;
       }

       .et-hero-tabs h3,
       .et-slide h3 {
           font-size: 1rem;
       }

       .et-hero-tab {
           font-size: 1rem;
       }
   }

   /* NAV BAR */

   /* Progress Bar in About */

   .containerbar {
       margin: auto;
       width: 300px;
       text-align: center;
       background: #eee;
   }

   .progress2 {
       padding: 6px;
       border-radius: 30px;
       background: white;
       box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
   }

   .progress-bar2 {
       height: 18px;
       border-radius: 30px;
       background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
       transition: 0.4s linear;
       transition-property: width, background-color;
   }

   .progress-moved .progress-bar2 {
       width: 85%;
       background-color: #112351;
       animation: progressAnimation2 3s;
   }

   @keyframes progressAnimation2 {
       0% {
           width: 5%;
           background-color: #46a7e7;
       }

       100% {
           width: 85%;
           background-color: #112351;
       }
   }

   .progress-bar3 {
       height: 18px;
       border-radius: 30px;
       background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
       transition: 0.4s linear;
       transition-property: width, background-color;
   }

   .progress-moved .progress-bar3 {
       width: 95%;
       background-color: #112351;
       animation: progressAnimation3 3s;
   }

   @keyframes progressAnimation3 {
       0% {
           width: 5%;
           background-color: #46a7e7;
       }

       100% {
           width: 95%;
           background-color: #112351;
       }
   }

   .progress-bar4 {
       height: 18px;
       border-radius: 30px;
       background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
       transition: 0.4s linear;
       transition-property: width, background-color;
   }

   .progress-moved .progress-bar4 {
       width: 90%;
       background-color: #112351;
       animation: progressAnimation4 3s;
   }

   @keyframes progressAnimation4 {
       0% {
           width: 5%;
           background-color: #46a7e7;
       }

       100% {
           width: 90%;
           background-color: #112351;
       }
   }

   .progress-bar5 {
       height: 18px;
       border-radius: 30px;
       background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
       transition: 0.4s linear;
       transition-property: width, background-color;
   }

   .progress-moved .progress-bar5 {
       width: 80%;
       background-color: #112351;
       animation: progressAnimation5 3s;
   }

   @keyframes progressAnimation5 {
       0% {
           width: 5%;
           background-color: #46a7e7;
       }

       100% {
           width: 80%;
           background-color: #112351;
       }
   }

   .progress-bar6 {
       height: 18px;
       border-radius: 30px;
       background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
       transition: 0.4s linear;
       transition-property: width, background-color;
   }

   .progress-moved .progress-bar6 {
       width: 75%;
       background-color: #112351;
       animation: progressAnimation6 3s;
   }

   @keyframes progressAnimation6 {
       0% {
           width: 5%;
           background-color: #46a7e7;
       }

       100% {
           width: 75%;
           background-color: #112351;
       }
   }

   /* Progress Bar in About */

   /* Resume Section */
   .resume .resume-title {
       font-size: 26px;
       font-weight: 700;
       margin-top: 20px;
       margin-bottom: 20px;
       color: #050d18;
       text-align: left;
   }

   .resume .resume-item {
       padding: 0 0 20px 20px;
       margin-top: -2px;
       border-left: 2px solid #163279;
       position: relative;
       text-align: left;
   }

   .resume .resume-item h4 {
       line-height: 18px;
       font-size: 18px;
       font-weight: 600;
       text-transform: uppercase;
       font-family: "Poppins", sans-serif;
       color: #050d18;
       margin-bottom: 10px;
       text-align: left;
   }

   .resume .resume-item h5 {
       font-size: 16px;
       background: #e4edf9;
       padding: 5px 15px;
       display: inline-block;
       font-weight: 600;
       margin-bottom: 10px;
       text-align: left;
   }

   .cv-institution {
       text-align: left;
   }

   .resume .resume-item ul {
       padding-left: 20px;
       text-align: left;
   }

   .resume .resume-item ul li {
       padding-bottom: 10px;
   }

   .resume .resume-item:last-child {
       padding-bottom: 0;
   }

   .resume .resume-item::before {
       content: "";
       position: absolute;
       width: 16px;
       height: 16px;
       border-radius: 50px;
       left: -9px;
       top: 0;
       background: #fff;
       border: 2px solid #163279;
   }

   /* Resume Section */

   /* #hero-bg {
     background: rgba(0, 128, 0, 0.3) // Green background with 30% opacity 
   } */

   #tab-hero {
       background-image: url("../images/bg02.png");
       background-repeat: no-repeat;
       background-size: 100%;
       /* TO ADD SUPPORT FOR MOBILE DEVICES */
       background-position: bottom;
   }

   #about-img {
       border-radius: 9px;
       box-shadow: -10px 10px 5px #c0bcbc;
   }

   .linel {
       border-left: 1px solid #c0bcbc;
       height: 520px;
       position: absolute;
       /* TO ADD SUPPORT FOR MOBILE DEVICES, GAYAB */
   }

   #about-p {
       text-align: left;

       transition: all 0.3s ease-in-out;
   }